VITE_FIREBASE_API_KEY=AIzaSyB9a29CEyqT7Ta6f9q8AYjOjtzFy8etvVk
VITE_FIREBASE_AUTH_DOMAIN=employee-salary-app-2341d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=employee-salary-app-2341d
VITE_FIREBASE_STORAGE_BUCKET=employee-salary-app-2341d.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=882918679035
VITE_FIREBASE_APP_ID=1:882918679035:web:8378f87c9d4123b7b8eb5e
